*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
   transition: .2s linear;
    border: none;
    text-decoration: none;
    text-transform: capitalize
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: #f5425a;
    padding: 1rem;
    margin: 2rem 0;
    background: #04308f;
}
.heading span{
    color: white;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #04308f;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000 ;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}
header .logo{
    font-size: 3rem;
    color: white;
    font-weight: bold;
}
header .logo span{
    color: grey;
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: white;
}
header .navbar a:hover{
    color: red;

}
header .icons a{
    font-size: 3rem;
    color: white;
    margin-left: 2rem;
}
header .icons a:hover{
    color: greenyellow;
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    
    cursor: pointer;
    
    display: none;
}


.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 5rem;
    padding: 3rem 2rem;
    position: relative;
}
.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: red;
}
.review .box-container .box .stars i{
    color: greenyellow;
    font-size: 2rem;
}
.review .box-container .box p{
    color: goldenrod;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 2rem;
}
.review .box-container .box .user{
    display: flex;
    text-align: center;
    padding-top:2rem ;
}
.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-container .box .user h3{
    font-size: 2rem;
    color: palegreen;
}
.review .box-container .box .user span{
    font-size: 1.5rem;
    color: purple;
}
.contact .heading{
    margin-top: 8rem;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: 1.5rem;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: solid .1rem rgba(0,0,0,.1);
    background: #fff;
    border-radius: 5rem;
}
.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: 2rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    background-color: pink;
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.contact .row .image{
    flex: 1 1 40rem;
    
}
.contact .row .image img{
    width: 100%;
    
}
footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 40px;
    background-color: #04308f;
}
footer .box-container .box{
    flex: 1 1 25rem;
}
footer .box-container .box h3{
    color: white;
    font-size: 2.5rem;
    padding: 1rem 0;
}
footer .box-container .box a{
    display: block;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 0;
}
footer .box-container .box a:hover{
    color: pink;
    text-decoration: underline;
}
footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
}
@media (max-width:991) {
    html{
    font-size: 55%;
    
}
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home{
        position: left;
    }
}
@media (max-width:768px)
{
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: green;
        border: .1rem solid tgba(0,0,0,.1);
        display: block;
    }
    .home content h3{
        font-size: 5rem;
    }
    .home content span{
        font-size: 2.5rem;
    }
}
@media (max-width:450) {
    html{
    font-size: 50%;
    
}
    .heading{
        font-size: 3rem;
    }
}